@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@400;500;600;700&display=swap');

.text-styling {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
}

.light-blue-bg-color {
    background-color: #7acdf3;
}

.light-blue-btn-bg-color {
    background-color: #7acdf3;
}

.light-blue-btn-bg-color:hover {
    background-color: #3dbcf7;
}

.light-brown-bg-color {
    background-color: #f1e2d3;
}

.text-height-action {
    font-size: 3vw;
    margin: 8px 0;
    font-weight: 600;
}

.title-styles {
    height: 400px;
    background: url('../images/pexels-pixabay-390051-sm.png') no-repeat center center;
    background-size: cover;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

h1 {
    font-family: Bubblegum Sans, sans-serif;
    color: #620da7;
    font-size: 10vw;
}

main {
    margin-bottom: 50px;
}

#accordion a {
    height: 52px;
    margin: 5px;
    font-size: 20px;
}

.min-max-card-width {
    min-width: 185px;
    max-width: 290px;
}

.book-card {
    border: 1px solid #d3ccc5;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    max-width: 290px;
}

#book-now {
    height: 20vw;
    width: 20vw;
    font-size: 5vw;
    max-width: 200px;
    max-height: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #246bad;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 5;
}

footer li {
    display: inline-block;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

footer li a {
    color: inherit;
    font-size: 25px;
}

.make-div-appear {
    display: block;
}

.make-div-disappear {
    display: none;
}

/* For Screens 576px wide and down */
@media screen and (max-width: 576px) {
    .mobile-title-position {
        justify-content: flex-end;
        padding-bottom: 35px;
    }

    h1 {
        font-size: 45px;
        color: #e9d1d1;
    }
}

/* For Screens 750px wide and up */
@media screen and (min-width: 750px) {
    h1 {
        font-size: 70px;
    }
}

/* For Screens 992px wide and up */
@media screen and (min-width: 992px) {
    h1 {
        max-width: 300px;
        font-size: 85px;
    }

    .text-height-action {
        font-size: 30px;
    }
}