{% extends "base.html" %}

{% block content %}

{% load static %}
<main>
    <h2 class="ps-3">Welcome {{ user.username }}!</h2>
    <div class="container top-margin-30">
        <div class="row">
            <div class="col-12 col-sm">
                <h3>Your Details:</h3>
            </div>
            <div class="col">
                <p>Name: {{ user.customer.first_name }} {{ user.customer.last_name}}</p>
                <p>Email: {{ user.customer.email}}</p>
                <p>Telephone Number: {{ user.customer.phone_num}}</p>
                <p>Date of Birth: {{ user.customer.date_of_birth }}</p>
                <p>Height: {{user.customer.height }}m</p>
                <p>Weight: {{ user.customer.weight }}kg</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 my-3">
                <p>From here you can make as many bookings for yourself as needed!</p>
                <p>To edit or cancel bookings select the option to View you Bookings! and
                    then follow the steps from there.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm d-flex justify-content-center top-margin-30">
                <a href="{% url 'make_booking' %}" class="btn light-blue-btn-bg-color text-styling">Make a
                    booking!</a>
            </div>
            <div class="col d-flex justify-content-center top-margin-30">
                <a href="{% url 'view_bookings' %}" class="btn light-blue-btn-bg-color text-styling">View your
                    bookings!</a>
            </div>
        </div>
    </div>

</main>
{% endblock %}