{% extends "base.html" %}

{% block content %}

{% load static %}
<main>
    <h2 class="ps-3">Welcome {{ user.username }}!</h2>
    <div class="container top-margin-30">
        <div class="row">
            <div class="col-12 col-sm">
                <h3>Your Details:</h3>
            </div>
            <div class="col">
                <p>Email: {{ user.customer.email}}</p>
                <p>Telephone Number: {{ user.customer.phone_num}}</p>
            </div>
        </div>
    </div>
    <a href="{% url 'make_booking' %}" class="btn light-blue-btn-bg-color text-styling">Make a booking!</a>
    <a href="{% url 'view_bookings' %}" class="btn light-blue-btn-bg-color text-styling">View your bookings!</a>
</main>
{% endblock %}