{% extends "base.html" %}

{% block content %}

{% load static %}

<main>
    <h2 class="ps-3">You can edit the selected booking here {{ user.username }}!</h2>
    <p class="ps-3">(Bookings for today cannot be made online. Please phone to check today's availability)</p>
    <p class="ps-3">Please edit the appropriate fields and submit changes once you are ready to do so:</p>
    <p class="ps-3">(Please include any special requirements or requests in the Customer requests box and we will do or
        best to accomodate you!) </p>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <p>
                        <label for="id_ability_level">Ability level:</label>
                    </p>
                    <p>
                        <select name="ability_level" id="id_ability_level" required>
                            <option value="">Please choose one!</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                        </select>
                    </p>
                    <p>
                        <label for="id_lesson_date">Lesson date:</label>
                    </p>
                    <p>
                        <input type="date" name="lesson_date" required id="id_lesson_date">
                    </p>
                    <p>
                        <label for="id_lesson_time">Lesson Time:</label>
                    </p>
                    <p>
                        <select name="lesson_time" id="id_lesson_time" required>
                            <option value="">Please choose one!</option>
                            <option value="9:00">9:00am</option>
                            <option value="11:00">11:00am</option>
                            <option value="13:30">1:30pm</option>
                            <option value="15:30">3:30pm</option>
                        </select>
                    </p>
                    <p>
                        {{ form.customer_requests.label_tag }}
                    </p>
                    <p>
                        {{ form.customer_requests }}
                    </p>
                    <button class="btn light-blue-btn-bg-color my-2" type="submit">Update Booking!</button>
                    <a href="{% url 'view_bookings' %}" class="btn light-blue-btn-bg-color text-styling my-2 ms-3">Go
                        Back!</a>
                </form>
            </div>
        </div>
    </div>
    <p class="ps-3">All of the above details are required to confirm your booking.
        The information provided will be used for no other purpose other than
        to administer your booking and provide an appropriate lesson.
    </p>
</main>

<script src="{% static 'js/editBooking.js' %}" defer data-lesson-date="{{ booking.lesson_date }}"
    data-ability-level="{{ booking.ability_level }}" data-lesson-time="{{ booking.lesson_time }}"></script>

<script src="{% static 'js/date.js' %}" defer></script>
{% endblock content %}