{% extends "base.html" %}

{% block content %}

{% load static %}

<main>
    <h2 class="ps-3">You can edit your customer profile here {{ user.username }}!</h2>
    <p class="ps-3">Please edit the appropriate fields and submit changes once you are ready to do so:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="POST">
                    {% csrf_token %}
                    <p>
                        {{ form.first_name.label_tag }}
                    </p>
                    <p>
                        {{ form.first_name }}
                    </p>
                    <p>
                        {{ form.last_name.label_tag }}
                    </p>
                    <p>
                        {{ form.last_name }}
                    </p>
                    <p>
                        {{ form.email.label_tag }}
                    </p>
                    <p>
                        {{ form.email }}
                    </p>
                    <p>
                        <label for="id_phone_num">Telephone Number:</label>
                        <input type="tel" pattern="[0-9, '', +]+" name="phone_num" value="{{ customer.phone_num }}"
                            maxlength="20" required id="id_phone_num">
                    </p>
                    <p>
                        <label for="id_date_of_birth">Date of birth:</label>
                        <input type="date" name="date_of_birth" required id="id_date_of_birth">
                    </p>
                    <p>
                        {{ form.height.label_tag }} (In metres. Max 2 decimal places)
                    </p>
                    <p>
                        {{ form.height.errors }}
                        <input type="number" name="height" value="{{ customer.height }}" step="0.01" required
                            id="id_height" min="0" max="3" placeholder="0.00"> m
                    </p>
                    <p>
                        {{ form.weight.label_tag }} (In kg. Max 1 decimal place)
                    </p>
                    <p>
                        {{ form.weight.errors }}
                        <input type="number" name="weight" value="{{ customer.weight }}" step="0.1" required
                            id="id_weight" min="0" max="999" placeholder="000.0"> kg
                    </p>
                    <button class="btn light-blue-btn-bg-color" type="submit">Update Profile!</button>
                </form>
                <a href="{% url 'customer' %}" class="btn light-blue-btn-bg-color text-styling top-margin-30">Go
                    Back!</a>
            </div>
        </div>
    </div>
    <p class="ps-3">All of the above details are required to confirm your booking.
        The information provided will be used for no other purpose other than
        to administer your booking and provide an appropriate lesson.
    </p>
</main>

<script src="{% static 'js/editProfile.js' %}" defer data-dob="{{ customer.date_of_birth }}"></script>
<script src="{% static 'js/dateOfBirth.js' %}" defer></script>

{% endblock content %}