{% extends "base.html" %}

{% block content %}

{% load static %}
<main>
    <div id="accordion">
        <div class="d-grid gap-2">
            <a class="btn text-styling light-blue-btn-bg-color m-0" href="{% url 'signup_login_links' %}"
                role="button">Book Group Lessons Now!!</a>
            <div class="accordion">
                <div class="accordion-item light-brown-bg-color">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed text-styling light-blue-btn-bg-color mb-2"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                            aria-controls="collapseOne">
                            Info on Surfing Lessons!!
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="mx-2 mx-md-5">
                                <h3 class="top-margin-30">Surfing Lessons</h3>
                                <h4 class="top-margin-30">Group Lessons - €50 per student</h4>
                                <p class="top-margin-30">
                                    Group lessons are our most popular option and are provided in Kids groups (6 - 11
                                    yrs),
                                    Older Childern (12 - 16 yrs) and Adult groups at beginner and intermediate level.
                                    All necessary surfing equipment including wetsuits and boards
                                    are provided with these lessons.
                                </p>
                                <p>
                                    The lesson lasts for 90 mins and the surfing equipment can be used
                                    for a further 90 mins after the lesson.
                                </p>
                                <p>
                                    Please note that a group lesson means that you will be learning
                                    alongside other students in a larger group of up to 10 people.
                                </p>
                                <h4 class="top-margin-30">Private Lessons - €150</h4>
                                <p class="top-margin-30">
                                    Private Lessons can be booked with one of our instructors
                                    for an individual or a small group of up to 4 students.
                                    This lesson format is ideal for a beginner or intermediate that would like
                                    a one to one learning environment or small groups requiring a tailored experience.
                                </p>
                                <p>
                                    Private Lessons are also the only format in which we provide
                                    tailored lessons to more advanced students.
                                </p>
                                <p>
                                    Private lessons are 1 hour long and the price does not include equipment hire.
                                </p>
                                <h4 class="top-margin-30">Advanced Lessons</h4>
                                <p class="top-margin-30">
                                    We typically find that as a more advanced surfer you will typically only come
                                    looking for a lesson occasionally if there is a particular skill you want to work
                                    on.
                                    Therefore we currently provide such lessons in the Private Lesson format only,
                                    as this one to one or small group format best meets the needs of such students.
                                </p>
                                <h4 class="top-margin-30">Lesson Times and Booking</h4>
                                <p class="top-margin-30">
                                    Group Lessons can be booked using our online booking system or by emailing or
                                    calling us.
                                    Private Lessons must be booked over the phone.
                                </p>
                                <p>Lesson Times will vary throughout the season.
                                    Group lesson times can be viewed through our booking system.
                                    Or please give us a call and we can let you know our availability
                                    for all lesson types on your preferred date.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item light-brown-bg-color">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-styling light-blue-btn-bg-color" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Info on Hiring Gear!!
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="mx-2 mx-md-5">
                                <h3 class="top-margin-30">Surfing Equipment Hire</h3>
                                <h4 class="top-margin-30">Surfboards</h4>
                                <p class="top-margin-30">
                                    Adult Board - Half Day (3hrs) - €30 - Full Day (6hrs) - €55
                                </p>
                                <p>Older Children Board - Half Day (3hrs) - €25 - Full Day (6hrs) - €45</p>
                                <p>Kids Board - Half Day (3hrs) - €20 - Full Day (6hrs) - €35</p>
                                <h4 class="top-margin-30">Wetsuits</h4>
                                <p class="top-margin-30">
                                    Adult - Half Day (3hrs) - €25 - Full Day (6hrs) - €45
                                </p>
                                <p>Older Children - Half Day (3hrs) - €20 - Full Day (6hrs) - €35</p>
                                <p>Kids Board - Half Day (3hrs) - €15 - Full Day (6hrs) - €25</p>
                                <h4 class="top-margin-30">Other Hire Items</h4>
                                <p class="top-margin-30">
                                    Wet suit booties - €5
                                </p>
                                <p>Wet suit hoodies - €5</p>
                                <p>Wet suit gloves - €3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cards">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <div class="card min-max-card-width m-auto">
                        <img src="{% static 'images/pexels-elle-hughes-1549196-sm.webp' %}" class="card-img-top"
                            alt="Surfers with surfboards walking on a beach">
                        <div class="card-body">
                            <h2 class="card-title text-styling">Info on Surf Lessons</h2>
                            <a href="#lessoninfo" class="btn light-blue-btn-bg-color text-styling">Click Here!!</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="book-card m-auto d-flex flex-column justify-content-around">
                        <h2 class="text-height-action text-styling">Book Today!!</h2>
                        <a id="book-now" href="{% url 'signup_login_links' %}"
                            class="btn light-blue-btn-bg-color text-height-action m-auto text-styling">Book Group Lessons Now!</a>
                        <p class="text-height-action text-styling">Pay on Arrival!!</p>
                    </div>
                </div>
                <div class="col">
                    <div class="card min-max-card-width m-auto">
                        <img src="{% static 'images/pexels-monica-silvestre-699955-sm.webp' %}" class="card-img-top"
                            alt="Two surfboards lying on a sandy beach">
                        <div class="card-body">
                            <h2 class="card-title text-styling">Info on Hiring Gear</h2>
                            <a href="#hireinfo" class="btn light-blue-btn-bg-color text-styling">Click Here!!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lessoninfo" class="mx-2 mx-md-5">
        <h3 class="top-margin-30">Surfing Lessons</h3>
        <h4 class="top-margin-30">Group Lessons - €50 per student</h4>
        <p class="top-margin-30">
            Group lessons are our most popular option and are provided in Kids groups (6 - 11 yrs),
            Older Childern (12 - 16 yrs) and Adult groups at beginner and intermediate level.
            All necessary surfing equipment including wetsuits and boards
            are provided with these lessons.
        </p>
        <p>
            The lesson lasts for 90 mins and the surfing equipment can be used
            for a further 90 mins after the lesson.
        </p>
        <p>
            Please note that a group lesson means that you will be learning
            alongside other students in a larger group of up to 10 people.
        </p>
        <h4 class="top-margin-30">Private Lessons - €150</h4>
        <p class="top-margin-30">
            Private Lessons can be booked with one of our instructors
            for an individual or a small group of up to 4 students.
            This lesson format is ideal for a beginner or intermediate that would like
            a one to one learning environment or small groups requiring a tailored experience.
        </p>
        <p>
            Private Lessons are also the only format in which we provide
            tailored lessons to more advanced students.
        </p>
        <p>
            Private lessons are 1 hour long and the price does not include equipment hire.
        </p>
        <h4 class="top-margin-30">Advanced Lessons</h4>
        <p class="top-margin-30">
            We typically find that as a more advanced surfer you will typically only come
            looking for a lesson occasionally if there is a particular skill you want to work on.
            Therefore we currently provide such lessons in the Private Lesson format only,
            as this one to one or small group format best meets the needs of such students.
        </p>
        <h4 class="top-margin-30">Lesson Times and Booking</h4>
        <p class="top-margin-30">
            Group Lessons can be booked using our online booking system or by emailing or calling us.
            Private Lessons must be booked over the phone.
        </p>
        <p>Lesson Times will vary throughout the season.
            Group lesson times can be viewed through our booking system.
            Or please give us a call and we can let you know our availability
            for all lesson types on your preferred date.
        </p>
    </div>
    <div id="hireinfo" class="mx-2 mx-md-5">
        <h3 class="top-margin-30">Surfing Equipment Hire</h3>
        <h4 class="top-margin-30">Surfboards</h4>
        <p class="top-margin-30">
            Adult Board - Half Day (3hrs) - €30 - Full Day (6hrs) - €55
        </p>
        <p>Older Children Board - Half Day (3hrs) - €25 - Full Day (6hrs) - €45</p>
        <p>Kids Board - Half Day (3hrs) - €20 - Full Day (6hrs) - €35</p>
        <h4 class="top-margin-30">Wetsuits</h4>
        <p class="top-margin-30">
            Adult - Half Day (3hrs) - €25 - Full Day (6hrs) - €45
        </p>
        <p>Older Children - Half Day (3hrs) - €20 - Full Day (6hrs) - €35</p>
        <p>Kids Board - Half Day (3hrs) - €15 - Full Day (6hrs) - €25</p>
        <h4 class="top-margin-30">Other Hire Items</h4>
        <p class="top-margin-30">
            Wet suit booties - €5
        </p>
        <p>Wet suit hoodies - €5</p>
        <p>Wet suit gloves - €3</p>
    </div>
</main>

{% endblock %}